<a href="https://colab.research.google.com/github/naitikganvir/AlphabetAI/blob/main/python_28_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming Language - way to communicate or interact with machines

PYTHON - It is a high-level programming language which is widely used in many fields such as Data Science , Web development , Cloud Infrastructure , etc.

- invented by - Guido Van Rossum, in 1991

- Why the name "Python"?

-named it after his favourite show - "Monty Python's Flying Circus"

In [ ]:
# FEATURES OF PYTHON-

In [ ]:
# 1- It is an interpreter Language - code will execute line by line

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(89)

89

In [ ]:
print("hello")
print("mohan")
print("sahil")
print("anas")

hello
mohan
sahil
anas

In [ ]:
# 2- Case sensitive language - (lower case (a,b,c) and upper case(A,B,C))

In [ ]:
# 3 - It is an open source language - (freely available)

In [ ]:
# 4- It is simple - easy to learn and understand

In [ ]:
# 5 - It's syntax is easy

In [ ]:
# Syntax - rule or set of rules that how to write a particular programming language.

In [ ]:
# 6- It is cross platform language - (unix , mac , linux)

In [ ]:
# 7- It has multiple built in libraries- pandas , numpy , matplotlib , seaborn

In [ ]:
# 8 - It has built in function inside this.

Keywords - pre - defined or pre-reserved words which already have some special meaning or function.

ex - if , else , for , and , while

VARIABLES - It is a name to which we assign some values. They act as a placeholder which holds some data.

In [ ]:
# RULES FOR WRITING NAME OF THE VARIABLE -

1- Variable name can be alphanumeric - (can be a combination of alphabets and digits)

2- variable name can't start with a digit

3- variable name can't have any special symbol except underscore(_)

4- variable name can start with underscore(_)

5- variable name can't be a keyword

6- variable name can't have blank space in their names

In [ ]:
a = 5
print(a)

5

In [ ]:
num1 = 35
num1

35

In [ ]:
1abc = 67
print(1abc)                         # error - can't start variable name with digit

SyntaxError: invalid decimal literal (ipython-input-3-53792463.py, line 1)

In [ ]:
first_name = "Jayaseelan"
print(first_name)

Jayaseelan

In [ ]:
%num = 99                           # error - invalid syntax
print(%num)

SyntaxError: invalid syntax (ipython-input-5-1352906451.py, line 2)

In [ ]:
_ = "hello"
print(_)

hello

In [ ]:
if = "python"
print(if)                  # error - because it is a keyword

SyntaxError: invalid syntax (ipython-input-7-3705806997.py, line 1)

In [ ]:
first name = "tuesday"
print(first name)                      # error - because of space!!

SyntaxError: invalid syntax (ipython-input-8-4260837391.py, line 1)

In [ ]:
num1 = 56
num2 = 98
print(num1,num2)

56 98

In [ ]:
# HOW TO TAKE USER INPUT IN PYTHON?
# variable name = datatype(input())

name = input("enter your name: ")
print(name)
age = int(input())
print(age)

enter your name: meenakshi
meenakshi
21
21

In [ ]:
# create one variable which will take first name as user input
# create another variable which will take second name as user input
# print both the variables in single line

In [ ]:
v1 = str(input("enter first name: "))
v2 = input("enter second name: ")
print(v1)

enter first name: xyz
enter second name: abc
xyz

DATA TYPES- it tells us the type of data a variable have

- Numeric - int , float , complex

- Text - string

- boolean

HOW tO CHECK THE DATA TYPE ??

- type()

1- Numeric Data types - everything related to numbers .

- Integer - all the whole numbers - 2,3,4,88,98,-76.-8,-9 -- int

- Float - all the decimal numbers - 4.5,4.89,-9.8,-7.6 -- float

- Complex - expression - a+bj - 3+4j , 9+1j -- complex

In [ ]:
#numeric -

var1 = 9
print(type(var1))
var2 = -89
print(type(var2))

<class 'int'>
<class 'int'>

In [ ]:
v1 = 9.87
print(type(v1))

<class 'float'>

In [ ]:
v2 = 6+9j
print(v2)
print(type(v2))

(6+9j)
<class 'complex'>

2- TEXT DATA TYPES - String - sequence of character which is enclosed in single , double or triple quotes.

-- str

In [ ]:
n1 = "hello world"
print(type(n1))

<class 'str'>

In [ ]:
n2 = 5.67
n3 = "9.99"
n4 = "76"
n5 = "87"
n6 = "ananya"
print(type(n2))
print(type(n3))
print(type(n4))
print(type(n5))
print(type(n6))

<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Indentation - blank space or tab
print("hello")
          print("abc")            # indentation error -

IndentationError: unexpected indent (ipython-input-26-3829252545.py, line 3)

3- BOOLEAN DATATYPE - It is a data type which has 2 values - True or False

-- bool

In [ ]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
b = False
print(b)

False

In [ ]:
m1 = 78
m2 = 87
c = m1==m2
print(c)
print(type(c))

False
<class 'bool'>

OPERATORS - symbols which are used to perform some operations .

1- Arithmetic Operators

2- Comparison Operators

3- Logical Operators

4- Assignment Operators

5- Membership Operators

In [ ]:
# 1- ARITHMETIC OPERATORS - used to perform the mathematical calculation
# add , sub , mul , div , modulous , floor division , exponential

In [ ]:
n1 = 89
n2 = 76
print(n1+n2)  # add
print(n1-n2)   # subt
print(n1*n2)   # multiplication

165
13
6764

In [ ]:
# div - (/) , floor division - (//)
# floor division - it will give the quotient in a whole number
a = 23
b = 3
print(a/b)
print(a//b)

7.666666666666667
7

In [ ]:
# modulus operator - % -- return the remainder value

a = 17
b = 2
print(a%b)

1

In [ ]:
# exponential operator - ** -give the exponential or power value

a = 7
b = 5
print(a**b)

a = 2
b = 3
print(a**b)

16807
8

In [ ]:
a = 4
b = 3
print(a**b)

64

2- COMPARISON OPERATORS - used to compare the values .

- output will be a boolean value - true or false

In [ ]:
# comparison operators -
a1 = 67
b1 = 90
 # == - equals to
 # != not equals to
 # <>, >=,<=
print(a1==b1)
print(a1!=b1)
print(a1>b1)
print(a1<b1)
print(a1>=b1)

False
True
False
True
False
True

3- LOGICAL OPERATORS - used to combine multiple conditions or statements.

- output will be boolean value - true or false

- and

- or

- not

In [ ]:
# LOGICAL OPERATORS -
# and - return true if both the statements are true
# or - return true if atleast one statement is true
# not - it will the reverse the output - true - false

# = assign
# += add ,aasign
# -= , *= , /=,//= , **=,%=

In [ ]:
a = True
b = False
print(a and b)
print(a or b)
c = a and b
print(c)
print(not c)

False
True
False
True

4- Assignment operator - used to assign or give some value to a variable.

In [ ]:
var1 = 76
print(var1)

76

In [ ]:
name = "komal"
print(name)

komal

In [ ]:
var1= 10
print(var1+10)

20

In [ ]:
var1+=10
print(var1)
a = 20
a -=5               # a = a-5
print(a)

20
15

5- MEMBERSHIP OPERATORS - used to check whether a value is a member or a part of a list or not.

- in

- not in

- output is a boolean value - true or false

In [ ]:
name = "pravakar"
print('k' in name)
print('k' not in name)

True
False

In [ ]:
print('b' in name)
print('b' not in name)

False
True

Type casting - used to convert data type of one variable to another.

variable_name = datatype(variable)

- int() , float() , str(), list() , tuple(), set()

In [ ]:
p1 = 182.96
print(p1)
print(type(p1))

182.96
<class 'float'>

In [ ]:
p2 = int(p1)
print(p2)
print(type(p2))

182
<class 'int'>

In [ ]:
# take one variable as integer and convert it into float
# take age as integer and convert it into string

In [ ]:
v1 = 76
print(type(v1))
v2 = float(v1)
print(v2)
print(type(v2))

<class 'int'>
76.0
<class 'float'>

In [ ]:
age = 45
print(type(age))
s1 = str(age)
print(s1)
print(type(s1))

<class 'int'>
45
<class 'str'>

SEQUENTIAL DATA TYPES - when we have elements or values in a sequence, or
in an ordered collection of elements .

- list

- tuple

- string

1- LIST - store multiple elements in a single variable

- ordered collection of elements

- lists are mutable - (can change the value of list , add , remove)

- accessed by indexing or slicing

- list can store heterogeneous data - (value of different data type)

- list can store duplicate values

In [ ]:
l1 = [10,12,'python',1,2,4,5,'hello',5,2]
print(l1)
print(type(l1))

[10, 12, 'python', 1, 2, 4, 5, 'hello', 5, 2]
<class 'list'>

In [ ]:
# access the elements - indexing or slicing
# indexing - accessing a single element based on index(position)
# In python indexing always starts from 0 - left to right
# negative indexing starts from -1 - right to left
l1 = [10,12,'python',1,2,4,5,'hello',5,2]
print(l1[6])
print(l1[-4])

5
5

In [ ]:
l2 = [11,2,3,5,6,7,'hello','banana','python']
# access banana
# access value 6
# access value python

print(l2[-2])
print(l2[4])
print(l2[-1])

banana
6
python

In [ ]:
l1 = [10,20,30,40,50,60,70]
print(l1)
print(l1[3])
print(l1[-4])

[10, 20, 30, 40, 50, 60, 70]
40
40

In [ ]:
# slicing - accessing more than elements based on their index-
# listname[start index : stop index : step]
# step - gap between numbers
l2 = ['apple',24,'python',88,10,67,'a','hello']
print(l2[2:6])
print(l2[-2:-5:-2])

['python', 88, 10, 67]
['a', 10]

In [ ]:
l2 = ['apple',24,'python',88,10,67,'a','hello']
print(l2[-2:4:-1])

['a', 67]

In [ ]:
l2 = ['apple',24,'python',88,10,67,'a','hello']
print(l2[-5:-2:-2])

[]

In [ ]:
l2 = ['apple',24,'python',88,10,67,'a','hello']
print(l2[-2:-5:-2])

['a', 10]

In [ ]:
# fruits = ['apple','banana','cherry','grapes','papaya']
# 1- output for fruits[2]
# 2- output for fruits [-1]
# 3- output for fruits [:3]
# 4 - output for fruits[2:]
# 5- reverse the list

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
# print the value of 7 using indexing
# print the  value from 2 to 6 using positive indexing
# print the value of 4 to 8 using negative index

In [ ]:
print(l1[6])
print(l1[-4])
print(l1[1:6:1])
print(l1[-7:-2])

7
7
[2, 3, 4, 5, 6]
[4, 5, 6, 7, 8]

In [ ]:
v2= ['apple',24,'python',88,10,67,'a','hello']
print(v2[0:6:2])
print(v2[0:4:2])

['apple', 'python', 10]
['apple', 'python']

In [ ]:
l1= [10,20,30,40,50,60,70]
print(l1[5:2:-1])                   # start index- 5 - value = 60 , # end index - 2- value = 30
print(l1[5:2:-3])

[60, 50, 40]
[60]

In [ ]:
# change the elements of a list -

l1 = ['python',10,20,30,'hello','list',1,2,3]
print(l1)
l1[4] = 'hiiiii'
print(l1)

l1[1:3] = ['ten','twenty']
print(l1)

['python', 10, 20, 30, 'hello', 'list', 1, 2, 3]
['python', 10, 20, 30, 'hiiiii', 'list', 1, 2, 3]
['python', 'ten', 'twenty', 30, 'hiiiii', 'list', 1, 2, 3]

In [ ]:
l1 = ['python',10,20,30,'hello','list',1,2,3]
print(l1)
l1[5] = 'abc'
print(l1)

['python', 10, 20, 30, 'hello', 'list', 1, 2, 3]
['python', 10, 20, 30, 'hello', 'abc', 1, 2, 3]

In [ ]:
# len() - length of the list - total no of elements

l1 = ['python',10,20,30,'hello','list',1,2,3]
print(len(l1))

9

In [ ]:
l2 = [1,2,3,4,5,6,7,'a','b','c']
print(len(l2))

10

In [ ]:
# HOW TO ADD AN ELEMENT IN A LIST??

# 1- append()- add a single element at the end of the list -- l2.append(value)
l2 = [1,2,3,4,5,6,7,'a','b','c']
print(l2)
l2.append('d')
print(l2)

l2.append(22)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c']
[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd']
[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 22]

In [ ]:
# 2- extend() - add more than one element at the end of the list -- list_name.extend([values])

l2 = [1,2,3,4,5,6,7,'a','b','c']
print(l2)
l2.extend([0,'d','g','akhil','dns','time','maddy',10])
print(l2)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c']
[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 0, 'd', 'g', 'akhil', 'dns', 'time', 'maddy', 10]

In [ ]:
# 3- insert - helps you insert a value at a specific index-
# listname.insert(position,value)

l2 = [1,2,3,4,5,6,7,'a','b','c']
print(l2)
l2.insert(-2,'hiiii')
print(l2)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c']
[1, 2, 3, 4, 5, 6, 7, 'a', 'hiiii', 'b', 'c']

- indexing slicing , change element in the list , add element

In [ ]:
# HOW TO DELETE AN ELEMENT FROM THE LIST-

# remove() - it will delete the first occurrence of the element from the list

l1 = [10,11,12,10,20,30,40,50]
print(l1)
l1.remove(10)
print(l1)
l1.remove(30)
print(l1)

[10, 11, 12, 10, 20, 30, 40, 50]
[11, 12, 10, 20, 30, 40, 50]
[11, 12, 10, 20, 40, 50]

In [ ]:
# pop() - used to delete an element from the list but at the given index

l1 = [10,11,12,10,20,30,40,50]
print(l1)
l1.pop(3)
print(l1)

[10, 11, 12, 10, 20, 30, 40, 50]
[10, 11, 12, 20, 30, 40, 50]

In [ ]:
# clear() - it will remove all the element in the list and it will return empty list

l1 = [10,11,12,10,20,30,40,50]
print(l1)
l1.clear()               # empty list - list without any elements
print(l1)

[10, 11, 12, 10, 20, 30, 40, 50]
[]

In [ ]:
# index() - return the index of first occurrence of an element

l1 = [25,37,10,11,12,10,20,30,40,50]
print(l1)
print(l1.index(30))
print(l1.index(10))
print(l1.index(90))     # result in an error- because this value is not present in my list

[25, 37, 10, 11, 12, 10, 20, 30, 40, 50]
7
2

ValueError: 90 is not in list

In [ ]:
l1 = [10,20,30]
print(l1.index(20))

1

In [ ]:
l1=[10,20,30,20,40]
print(l1.index(20))              # first 20 - 1 and second 20 - 3
f1 = l1.index(20)
print(f1)
f2 = l1.index(20,f1+1)
print(f2)

1
1
3

In [ ]:
l1 = [10,20,30,40]
print(l1.index(40))
print(l1.index(20))

3
1

In [ ]:
l1 = [10,11,12,10,13,14]
print(l1.index(10))           # 1st 10 - position 0 and 2nd 10 - 3
a = l1.index(10)
b = l1.index(10,a+1)
print(b)

0
3

In [ ]:

l1 = [25,37,10,11,12,10,20,30,40,50]
f1 = l1.index(10)
print(f1)
f2 = l1.index(10,f1+1)          # start searching after index1
print(f2)

2
5

In [ ]:
# create a list with 2 elements and then extend 4 elements and print the list
# insert one element at position 3 and again print the list

In [ ]:
l1 =[1,2]
print(l1)
l1.extend(['a','b','c','d'])
print(l1)

[1, 2]
[1, 2, 'a', 'b', 'c', 'd']

In [ ]:
print(l1)
l1.insert(3,12)
print(l1)

[1, 2, 'a', 'b', 'c', 'd']
[1, 2, 'a', 12, 'b', 'c', 'd']

2- TUPLES - store multiple elements in a single variable

- ordered collection of elements

- immutable - (can't change the values of tuples , uneditable)

- can also store duplicate values

- can store values of different data types

In [ ]:
t1 = (1,2,3,4,5,6,'a','b')
print(t1)
print(type(t1))

(1, 2, 3, 4, 5, 6, 'a', 'b')
<class 'tuple'>

In [ ]:
# access the element in the tuples

t1 = (1,2,3,4,5,6,'a','b')
print(t1[-2])

a

In [ ]:
t1 = (1,2,3,4,5,6,'a','b')
# print the value 2
# print the value 6
print(t1[1])
print(t1[-3])

2
6

In [ ]:
# index() - return the index of first occurrence of elements
t1 = (1,2,3,4,5,6,'a','b')
print(t1.index('b'))

7

In [ ]:
# count() - return the number of times a value is occurring
t1 = (1,2,3,4,5,6,'a','b')
print(t1.count(1))

1

In [ ]:
t2 = (1,2,3,4,5,1,2,3,1,1,1,1)
print(t2.count(1))
print(t2.count(5))

6
1

In [ ]:
t1 = (1,2,3,4,5,6,'a','b')
t1[2]='abc'                             # error - because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
# typecast tuple - list and then list to tuple
x= 5
y = float(x)
# variablename = datatype(variable)
t1 = (1,2,3,4,5,6,'a','b')
l1 = list(t1)
print(l1)
print(type(l1))
l1[2] = 'abc'
print(l1)
t1 = tuple(l1)
print(t1)

[1, 2, 3, 4, 5, 6, 'a', 'b']
<class 'list'>
[1, 2, 'abc', 4, 5, 6, 'a', 'b']
(1, 2, 'abc', 4, 5, 6, 'a', 'b')

3- STRINGS- sequence of character which are enclosed in single or double quotes.

- strings are immutable

In [ ]:
s1 = "syam"
print(s1)
print(type(s1))

syam
<class 'str'>

In [ ]:
# access element of string -
s1 = "syam"
print(s1[2])

a

In [ ]:
# functions
# lower() - used to convert string into lower case
# upper() - used to convert string into upper case
# capitalize() - used to convert first letter - capital

s1 = "HELLO"
print(s1.lower())
s2 = "python"
print(s2.upper())
print(s2.capitalize())

hello
PYTHON
Python

In [ ]:
# length of the string - len()
print(len(s2))

6

In [ ]:
# strip() - remove the spaces from the string from both the ends - start and end

s3 = "    hello python    "
print(s3)
print(s3.strip())
# lstrip() - remove the spaces from left side
# rstrip() - remove the space from right side

    hello python
hello python

In [ ]:
# concatenation - joining or combining of two strings -
s1 = "hello"
s2 = "world"
print(s1+s2)
print(s1+" "+s2)

helloworld
hello world

In [ ]:
# repetition - string*n(any number) - it will repeat that string n times

s1 = "hiii "
print(s1*2)
print(s1*5)

hiii hiii
hiii hiii hiii hiii hiii

In [ ]:
# reverse the string using slicing -
s1 = 'harsh'
print(s1)
print(s1[::-1])
s2 = 'python'
print(s2[::-1])

harsh
hsrah
nohtyp

In [ ]:
# create a tuple with 5 elements and print the element which is at 3 position
# create two strings and concatenate them
# create a string and apply repetition 4 times
# take on string as user input and reverse the string

In [ ]:
t1 = (1,2,3,4,5,6)
print(t1[3])
s1 = "hello "
s2 = "hii"
print(s1+" "+s2)
print(s1*4)
a = input()
print(a[::-1])

4
hello  hii
hello hello hello hello
amit
tima

NON - SEQUENTIAL DATATYPE - elements are not stored in the sequence or elements are not arranged in a ordered way.

- set

- dictionary

1- Set - unordered collection of distinct(unique) elements

- it stores unique value - (no duplicate element is allowed)

- mutable (add or remove the elememt , we can't change the elements of set)

- {}

In [ ]:
s1 = {1,2,3,4,5,6}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [ ]:
s1 = {'a','b','c','a','b','c'}
print(s1)

{'a', 'c', 'b'}

In [ ]:
s2 = {12,3,4,11,23,3}
print(s2)

{3, 4, 23, 11, 12}

In [ ]:
# add() - adds a single element in a set
s1 = {'a','b','c','a','b','c'}
print(s1)
s1.add('e')
print(s1)

{'a', 'c', 'b'}
{'e', 'a', 'c', 'b'}

In [ ]:
# create a set and use add function to add an element in the set also check the data type of the set you created

In [ ]:
s1 = {1,2,4,5,6}
s1.add(10)
print(s1)
print(type(s1))

{1, 2, 4, 5, 6, 10}
<class 'set'>

In [ ]:
# update() - used to add multiple values in a set
# s1.update([values])

s1 = {1,2,4,5,6}
print(s1)
s1.update([11,20,30])
print(s1)

{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6, 20, 11, 30}

In [ ]:
s2 = {14,2,4}
s2.update([1,4,5,6])
print(s2)

{1, 2, 4, 5, 6, 14}

In [ ]:
-
# remove() - it will remove the element , if element not found it will return error
# s1.remove(value)
s1 = {1,2,4,5,6}
print(s1)
s1.remove(4)
print(s1)

{1, 2, 4, 5, 6}
{1, 2, 5, 6}

In [ ]:
s1.remove(10)
print(s1)                      # not present in my set

KeyError: 10

In [ ]:
# discard() - remove an element , no error if element is not found

s1 = {1,2,4,5,6}
print(s1)
s1.discard(5)
print(s1)
s1.discard(23)
print(s1)
s1.remove(23)
print(s1)                  # error

{1, 2, 4, 5, 6}
{1, 2, 4, 6}
{1, 2, 4, 6}

KeyError: 23

In [ ]:
# pop() - remove a random element from the set

s1 = {1,2,4,5,6}
print(s1)
s1.pop()
print(s1)

{1, 2, 4, 5, 6}
{2, 4, 5, 6}

In [ ]:
# clear()- remove all the values from the set
s1 = {1,2,4,5,6}
s1.clear()
print(s1)

set()

In [ ]:
# add elements in a set and remove duplicates.
# create one set and add 5 elements using set function then remove the element of your choice
# clear all elements from the set and print empty set
# s1= {1,True,False,0}
# print(s1)   --- output??

In [ ]:
s1={1,2,5,3,4,5,6,2,1,2}
print(s1)
s2={1,2}
s2.update([3,4,5,6,7])
print(s2)
s2.remove(5)
print(s2)
s2.clear()
print(s2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 6, 7}
set()

In [ ]:
s1={1,True,False,0}
print(s1)
s2 = {0,True , False,1}
print(s2)

{False, 1}
{0, True}

In [ ]:
# SET OPERATIONS -
#1 - UNION  - return the unique elements from both the sets
# 2- INTERSECTION - common elements between 2 sets
# 3- Differnce - s1.difference(s2)-- only s1 elements not in s2
# s2.difference(s1)-- only s2 elementgs not in s1

s1= {1,2,3,4}
s2 = {5,6,2,3}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3, 4, 5, 6}
{2, 3}
{1, 4}
{5, 6}

DICTIONARY - it is a collection of key  value pair

d1 = { 1 : 'python' , 2 : 34 , 'a': 'hello'}

- each key is unique

- keys are immuatble

- values can be of any data type

- value are mutable

In [ ]:
d1 = { 1 : 'python' , 2 : 34 , 'a': 'hello',1:'hiiiii'} # overriding the value
print(d1)

{1: 'hiiiii', 2: 34, 'a': 'hello'}

In [ ]:
d1 = {'name':'anas', 'age':22 , 'gender':'m'}
print(d1)
print(type(d1))

{'name': 'anas', 'age': 22, 'gender': 'm'}
<class 'dict'>

In [ ]:
d1 = {'name':['mohan','sahil','abc'],'age':21}
print(d1)

{'name': ['mohan', 'sahil', 'abc'], 'age': 21}

In [ ]:
# access any value
print(d1['age'])

22

In [ ]:
# create a dictionary with 4 values and check and print the data type
# take two sets and perform set operations
# 1- union
# 2- s1.difference(s2)

# create a set then add 3 values using update function
# create a dictionary and access all the values of dictionary one by one

In [ ]:
d2 = {1:'apple','a':43,'name':'sucharitha'}
print(d2)
print(type(d2))

{1: 'apple', 'a': 43, 'name': 'sucharitha'}
<class 'dict'>

In [ ]:
# access any value from dictionary-
d2 = {1:'apple','a':43,'name':'sucharitha'}
print(d2['name'])

sucharitha

In [ ]:
# change the value
d2 = {1:'apple','a':43,'name':'sucharitha'}
d2['name']='pragya'
print(d2)

{1: 'apple', 'a': 43, 'name': 'pragya'}

In [ ]:
# create a dictionary student and change the value for 2 data(update the value for 2 keys) and print the updated data

In [ ]:
student = {'name':'abc','age':21 ,'marks':78}
print(student)
student['age']=23
student['marks']=56
print(student)

{'name': 'abc', 'age': 21, 'marks': 78}
{'name': 'abc', 'age': 23, 'marks': 56}

In [ ]:
# keys() - return all the keys in dict
# values() - returns all the values from dict
# items() - it will return both keys and values

student = {'name':'abc','age':21 ,'marks':78}
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'marks'])
dict_values(['abc', 21, 78])
dict_items([('name', 'abc'), ('age', 21), ('marks', 78)])

In [ ]:
l1 = list(student.keys())
print(l1)
print(type(l1))

['name', 'age', 'marks']
<class 'list'>

In [ ]:
student = {'name':'abc','age':21 ,'marks':78}
student['marks']=89
print(student)

{'name': 'abc', 'age': 21, 'marks': 89}

In [ ]:
# to get the value of dictionary-
# get() - access the values
# d1.get(key)
student = {'name':'abc','age':21 ,'marks':78}
print(student.get('marks'))

78

In [ ]:
# add multiple values in a dictionary-
# update() - multiple values or merge dictionaries
student = {'name':'abc','age':21 ,'marks':78}
print(student)
student.update({'name':'hello','id':101,'abc':'python world'})
print(student)

{'name': 'abc', 'age': 21, 'marks': 78}
{'name': 'hello', 'age': 21, 'marks': 78, 'id': 101, 'abc': 'python world'}

In [ ]:
# DELETE ANY VALUE FROM DICTIONARY???
# pop() - remove and return the value
# d1.pop('key name')
student = {'name':'abc','age':21 ,'marks':78}
print(student)
print(student.pop('age'))
print(student)

{'name': 'abc', 'age': 21, 'marks': 78}
21
{'name': 'abc', 'marks': 78}

In [ ]:
# popitem() - remove and returns the last inserted pair
student = {'name':'abc','age':21 ,'marks':78}
print(student)
print(student.popitem())
print(student)

{'name': 'abc', 'age': 21, 'marks': 78}
('marks', 78)
{'name': 'abc', 'age': 21}

In [ ]:
# clear() - remove all the data from dictionary and it will return empty dict
student = {'name':'abc','age':21 ,'marks':78}
print(student)
student.clear()
print(student)

{'name': 'abc', 'age': 21, 'marks': 78}
{}

In [ ]:
# 1- create a dictionary with name , age , city
#  2- update your city to "Bangalore"
# 3- print all the  - (a) - keys , (b) - values
# 4- delete age from dictionary
# 5- add 2 new values in the dictionary and print it
# 6- remove the last value from the dict and print new dict

In [ ]:
d1 = {'name':'abc','age':20 , 'city':'mumbai'}
d1['city']='bangalore'
print(d1)
print(d1.keys())
print(d1.values())
print(d1.pop('age'))
print(d1)
d1.update({1:101,2:'hiiiii'})
print(d1)
d1.popitem()
print(d1)

{'name': 'abc', 'age': 20, 'city': 'bangalore'}
dict_keys(['name', 'age', 'city'])
dict_values(['abc', 20, 'bangalore'])
20
{'name': 'abc', 'city': 'bangalore'}
{'name': 'abc', 'city': 'bangalore', 1: 101, 2: 'hiiiii'}
{'name': 'abc', 'city': 'bangalore', 1: 101}

In [ ]:
# can i give list and tuple to values???
d1 = {'name':['sahil','anurag','mohan','roshan'],'age':21,'gender':'m'}
print(d1)

{'name': ['sahil', 'anurag', 'mohan', 'roshan'], 'age': 21, 'gender': 'm'}

In [ ]:
# access??
print(d1['name'])

['sahil', 'anurag', 'mohan', 'roshan']

In [ ]:
print(d1['name'][2])

mohan

In [ ]:
# create a dict with name , age , city - age and city are having 3 values stored as tuple
# access 2 value from age and 1 value from city

In [ ]:
prac_dicts={'name': 'Jack',
    'age' : (12,13,14),
    'city' : ("Ktm", "Bhaktapur", "Lalitpur")
}

print(prac_dicts["age"][1])
print(prac_dicts["city"][0])

13
Ktm

In [ ]:
# city are having 3 values stored as tuple
d3={'name':'varun','age':(22,23,24),'city':('delhi','bangalore','mumbai')}
print(d3)

{'name': 'varun', 'age': (22, 23, 24), 'city': ('delhi', 'bangalore', 'mumbai')}

In [ ]:
# access 2 value from age and 1 value from city
print(d3['age'][1])
print(d3['city'][0])

23
delhi

Conditional Statement - used to make decision based on some condition or criteria.

- if (condition):

- elif (condition):

- else:

In [ ]:
# Syntax-

# simple if
# if (condition):
        # run if condition is True


# if - else.............................

# if(condition):
                # run if the condition is True


# else:
    # if is false then else

# if elif else.............

# if(condition):
             # run if the condition is true


# elif (condition):
               # run if the elif condition is true


# elif (condition):
#.


# else:
                   # print('by default')

In [ ]:
# if marks >35 - student is pass

marks = int(input())
if(marks>35):
  print("pass")

23

In [ ]:
# if - else...

marks = int(input())
if(marks>35):
  print("pass")

else:
  print("fail")

34
fail

In [ ]:
# write a if else statement to check whether a person is eligible to vote or not-

In [ ]:
age = int(input())
if(age>=18):
  print("eligible!!!!!")

else:
  print("not eligible!!!!!")

45
eligible!!!!!

In [ ]:
age = int(input("enter age: "))
if age>=18:
  print("yes")
else:
  print("no")

enter age: 65
yes

In [ ]:
age = 10
print("age is",age)

# formatting -
print(f"age is {age}")

age is 10
age is 10

In [ ]:
# check whether a number is even or odd-

In [ ]:
num = int(input())
if(num%2==0):
  print("even number")

else:
  print("odd number")

5
odd number

In [ ]:
type(age)

int

In [ ]:
# whether a number is positive, negative or zero

In [ ]:
num = int(input())
if(num>0):
  print("positive")

elif(num==0):
  print("zero")

else:
  print("negative")

6
positive

LOOPS - used to repeat a block of code multiple times.

- Instead of writing the same code again and again , you tell python-


keep doing the thing , until i say you stop.

In [ ]:
# TYPES OF LOOPS -

#1- FOR LOOP- used when you know how many times you want to repeat something.
# for expression.......

In [ ]:
# without loop -
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)

1
2
3
4
5
6

In [ ]:
# with loop -
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# print numbers from 0 to 25
for i in range(0,26):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [ ]:
# taking an input n as a number and you have to print all the numbers till n
n= int(input())
for i in range(0,n-1):
  print(i)

25
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [ ]:
num = int(input())
if(num%2==0):
  print("even number")
else:
  print("odd number")

45
odd number

In [ ]:
# homework
# using for loop print the table of any number

In [ ]:
n = int(input())
for i in range(1,11):
 # print(f"{n} x {i} = {n*i}")
   print(n*i)

5
5
10
15
20
25
30
35
40
45
50

In [ ]:
l1 = ['a','b','c','d','e','f','g']
# iterate and print every element from this list using for loop
for i in l1:
  print(i)

a
b
c
d
e
f
g

while loop - repeat the block of code as long as the condition is true

In [ ]:
# syntax -
# while condition:
            # body
            # update condition variable

In [ ]:
# count until i get n<=5
n=int(input())
while (n<=5):
  print(n)
  n+=1

3
3
4
5

In [ ]:
# w.a.p that will keep asking for a positive num-
num = int(input())
while(num<=0):
  print("enter positive number")
  num = int(input())
print("number is: ",num)

-4
enter positive number
-6
enter positive number
5
number is:  5

In [ ]:
# control statements -
# break - terminate the program
for i in range(1,11):
  if(i==5):
    break
  print(i)

1
2
3
4

In [ ]:
# continue - skip the value and continue to next
for i in range(1,11):
  if(i==5):
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range(1,11):
  if(i==7):
    break
  print(i)

1
2
3
4
5
6

In [ ]:
while True:
    print(2)
    if True:
        break
print(2)

2
2

In [ ]:
# print the numbers from 1 to 15 and once you get  10 dont print anything
# print the number from 3 to 10 and once you get 7 skip that number

In [ ]:
for i in range(1,16):
  if(i==10):
    break
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3,10):
  if(i==7):
    continue
  print(i)

3
4
5
6
8
9

In [ ]:
# take your input one string and write a program that will repeatly ask user to enter
# correct string until the user is oing to eneter delhi

In [ ]:

num = int(input())
while(num<=0):
  print("enter positive number")
  num = int(input())

  if(num>=0):
    break
print("number is: ",num)

2
number is:  2

In [ ]:
#pass is just used for error removing
for i in range(1, 11):
  pass

In [ ]:
# loop through a list and stop if "banana" is found
l1 = ['apple','guvava','papaya','watermelon','banana','grapes','berries']
if l1 == 'banana':
  pass
print('banana is found')

banana is found

In [ ]:
# print only even numbers from 1 to 10 using continue

for i in range(1, 10):
  if(i%2 != 0):
    continue
  print(i)

2
4
6
8